<div>
  {{#if courier }}
  <div class="container">
    <div class="form_orders">
      <form id="order" action="/courier/new" method="POST">
        <br>
        <label>Состав заказа: <input type="text" name="components"></label>
        {{!-- <label>Координаты: <input type="text" name="components"></label>
      <input name="adress" type="button" value="Адрес" id="adress"><br><br> --}}
        <label>Исходная цена: <input type="text" name="pricePrimary"></label>
        <button id="add">Добавить</button>
      </form>
    </div>
    <div class="newOrders">
      <div class="orderElement">

      </div>
    </div>
  </div>
  {{/if}}
</div>
