

<div>
  {{#if courier }}
  <div class="container">
    <div class="form_orders">
      <form id="order" action="/courier/new" method="POST">
        <br>
        <label>Состав заказа: <input type="text" name="components"></label>
        {{!-- <label>Координаты: <input type="text" name="components"></label>
      <input name="adress" type="button" value="Адрес" id="adress"><br><br> --}}
        <label>Исходная цена: <input type="text" name="pricePrimary"></label>
        <button id="addOrder">Добавить</button>
      </form>
    </div>
    <div class="newOrders">
      <div class="orderElement">

      </div>
    </div>
  </div>
  {{/if}}
</div>


<div id="map" style="width: 400px; height: 300px"></div>



{{!-- <form>
  <select name="text" id="text">
    <option>pizza</option>
    <option>sushi</option>
    <option>burger</option>
  </select>
  <button class="addOrder2">add order</button>
</form> --}}
