
<form id="login" method="POST" action="/login">
    <input name="email" placeholder="email">
    <input name="password" placeholder="password">
    <button>Войти</button>
    <div> {{mes}} </div>
</form>
