<h1>Welcome</h1>

<div id="map" style="width: 400px; height: 300px"></div>

<script defer type="text/javascript">
  ymaps.ready(init);
  
  function init() {
    myMap = new ymaps.Map('map', {
      center: [59.92, 30.35],
      zoom: 11,
      controls: ['zoomControl', 'fullscreenControl', 'geolocationControl']
    },
    {
      searchControlProvider: 'yandex#search'
    })
    
    
    const button = document.querySelector('.addOrder')
    
    button.addEventListener('click', (e) => {
      e.preventDefault()
      navigator.geolocation.getCurrentPosition(function (position) {
        const thisPosition = [position.coords.latitude, position.coords.longitude]
        console.log(thisPosition)
      })
    })
  }
</script>


<button class="addOrder">add order</button>


{{>courier}}
{{>customer}}
