<h1 class="kebab"></h1>
<div class="mapmap" style="width: 750px; height: 550px background: black" >
<div id="map" style="width: 700px; height: 500px"></div>
</div>


<script defer type="text/javascript">
  ymaps.ready(init);

  function init() {
    myMap = new ymaps.Map('map', {
      center: [59.92, 30.35],
      zoom: 12,
      controls: ['zoomControl', 'fullscreenControl', 'geolocationControl']
    },
      {
        searchControlProvider: 'yandex#search'
      })


    const form = document.querySelector('form')

    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      let { text } = e.target;
      console.log(text)
      const getGeo = () => {
        return new Promise((resolve, reject) => {
          navigator.geolocation.getCurrentPosition(function (position) {
            const thisPosition = [position.coords.latitude, position.coords.longitude]
            resolve(thisPosition);
          })
        })
      };

      const thisPosition = await getGeo()

      myGeoObject = new ymaps.GeoObject({
        geometry: {
          type: "Point",
          coordinates: thisPosition
        },
        properties: {
          iconContent: text.value,
          hintContent: 'sale 50%'
        }
      }, {
        preset: 'islands#blackStretchyIcon',
        draggable: false
      })

      myMap.geoObjects.add(myGeoObject)
    })

  }
</script>

<form>
  <input class="input" name="text" placeholder="text">
  <button class="addOrder input">add order</button>
</form>


{{>courier}}
{{>customer}}
