<form name="signup" method="POST" action="/signup">
  <input class="input" name="email" type="email" placeholder="E-mail">
  <input class="input" name="password" type="password" placeholder="password">
  <input class="input" name="name" type="text" placeholder="name">
  <input class="input" name="phone" type="text" placeholder="phone">
  <input class="input" name="city" type="text" placeholder="city">
  <button class="input" name="btnSineUp">Sign Up</button>
</form>

<div> {{mes}} </div>

