<form name="signup" method="POST" action="/signup">
  <input name="email" type="email" placeholder="E-mail">
  <input name="password" type="password" placeholder="password">
  <input name="name" type="text" placeholder="name">
  <input name="phone" type="text" placeholder="phone">
  <input name="city" type="text" placeholder="city">
  <button name="btnSineUp">Sign Up</button>
</form>
